body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
}

h1, h5 {
  color: #0D1A2B;
}

.carousel-item img {
  height: 500px;
  object-fit: cover;
}

footer {
  background-color: #0D1A2B;
}

.btn-success {
  background-color: #25D366;
  border: none;
}

.btn-primary {
  background-color: #009EE3;
  border: none;
}

.btn:hover {
  opacity: 0.9;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}
